@{
    ViewBag.Title = "Quên mật khẩu";
}

<html style="align-items: center; display: flex; justify-content:center;">
<link rel="icon" href="~/assets/imgs/logo1.jpg">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Work+Sans&display=swap" rel="stylesheet">
<div class="container" style="margin: 100px 0px; display: flex; justify-content: center; align-items: center">
    <div class="form" style="width: 65%; height: auto; background-color: white; border-radius: 8px; box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);">
        @using (Html.BeginForm())
        {
            <div class="title" style="font-family: 'Press Start 2P', cursive; font-family: 'Work Sans', sans-serif; font-size: 28px; font-weight: 800; margin: 10px; text-align: center; color: #00000087; padding-top: 20px; ">Quên mật khẩu</div>
            <div class="form-horizontal">

                <div class="form-group" style="font-family: 'Press Start 2P', cursive; font-family: 'Work Sans', sans-serif;font-size:16px; margin: 10px">

                    Vui lòng nhập email đã đăng kí tài khoản bên dưới để nhận được link đối mật khẩu
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2" style="font-family: 'Press Start 2P', cursive; font-family: 'Work Sans', sans-serif; font-size: 16px;margin:10px;"><strong>Email Address</strong></label><br />
                    <input type="text" placeholder="EmailID" name="EmailID" style="margin: 10px 50px; width: 300px; height: 40px; border:1px solid #ccc; border-radius: 8px" />

                </div>

                <div class="text-success" style="font-family: 'Press Start 2P', cursive; font-family: 'Work Sans', sans-serif; font-size: 16px; margin: 10px; color:forestgreen ">
                    <strong>@ViewBag.Message</strong>
                </div>
                <div class="text-error" style="font-family: 'Press Start 2P', cursive; font-family: 'Work Sans', sans-serif; font-size: 16px; margin: 10px; color:red ">
                    <strong>@ViewBag.Faild</strong>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10" style="margin: 13px -14px -6px 0px; display: flex; justify-content: flex-end; ">
                        <input type="submit" value="Submit" class="btn btn-success" style="width:70px; height:40px; border-radius:8px; border: 1px solid #ccc;float:right; margin-bottom: 20px;margin-right:70px" />
                    </div>
                </div>
            </div>
        }
    </div>

</div>
</html>
<style>
    html {
        background-color: #9acdf3
    }
</style>