@{
    Layout = "~/Views/Share/Using_LayoutPage1.cshtml";
    ViewBag.Title = "Home Page";
}

@section User {
    <li class="nav-item" style="margin-left: 20px">
        @{
            var user = (MyWeb.Models.User)HttpContext.Current.Session["username"];
            <a href="~/Home/Info?id=@user.ID" class="btn btn-outline-info">
                <span style="margin-left:4px; color: black; "><strong>@user.FullName</strong></span>
            </a>
            <a class="dropdown-item" href="~/Home/Logout">
                <strong><i class="fa-solid fa-right-from-bracket" style="color: black; float:right"></i></strong>
            </a>
        }
    </li>
}

<div class="contact_section layout_padding">
    <section id="contact" class="position-relative section">
        <div class="container text-center">
            <h6 class="subtitle" style="font-size: 30px; font-weight: 800; font-family: 'Roboto Slab', serif;">
               Liên hệ
            </h6>
            <h6 class="section-title mb-4" style="font-size: 30px; font-weight: 800; font-family: 'Roboto Slab', serif;">Liên hệ với chúng tôi</h6>
            <p class="mb-5 pb-4">
                Bạn gặp sự cố hay có bất kì thắc mắc xin hãy để lại nội dung và phương thức liên hệ bên dưới
                 <br />
                Chúng tôi sẽ phản hồi trong thới gian sớm nhất!
            </p>

            <div class="contact text-left">
                <div class="form">
                    <h6 class="subtitle">Liên hệ 24/7</h6>
                    <h6 class="section-title mb-4">Liên hệ với chúng tôi</h6>
                    <form method="post">
                        <div class="form-group">
                            <input type="email"
                                   class="form-control"
                                   id="exampleInputEmail1"
                                   aria-describedby="emailHelp"
                                   placeholder="Enter email"
                                   name="Email"
                                   value=""
                                   required />
                        </div>
                        <div class="form-group">
                            <input type="text"
                                   class="form-control"
                                   id="exampleInputPassword1"
                                   placeholder="PhoneNumber"
                                   name="PhoneNumber"
                                   value=""
                                   required />
                        </div>
                        <div class="form-group">
                            <textarea name="Message"
                                      id=""
                                      cols="30"
                                      rows="5"
                                      class="form-control"
                                      placeholder="Message"></textarea>
                        </div>
                        <button type="submit"
                                class="btn btn-primary btn-block rounded w-lg">
                            Gửi
                        </button>
                    </form>
                </div>
                <div class="contact-infos">
                    <div class="item">
                        <i class="ti-location-pin"></i>
                        <div class="">
                            <h5>Địa chỉ</h5>
                            <p>12345 Fake ST NoWhere AB Country</p>
                        </div>
                    </div>
                    <div class="item">
                        <i class="ti-mobile"></i>
                        <div>
                            <h5>Số điện thoại</h5>
                            <p>0373284007</p>
                        </div>
                    </div>
                    <div class="item">
                        <i class="ti-email"></i>
                        <div class="mb-0">
                            <h5>Email</h5>
                            <p>tramv130597@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="map">
            <iframe src="https://snazzymaps.com/embed/61257"></iframe>
        </div>
    </section>
</div>